<header class="site-header">
    <div class="container">
        <div class="header-content">
            <a class="header-logo" routerLink="/" aria-label="Booking App homepage">
                <img src="logo.png" alt="Booking App">
            </a>

            <nav class="header-menu" aria-label="Main navigation">
                <ul>
                    <li><a class="active" routerLink="/" aria-current="page">Home</a></li>
                    <li><a href="">Destinations</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Contact</a></li>
                    <li></li>
                </ul>
            </nav>

            <div class="header-actions">
                @if (isAuthenticated()) {

                <a appButton routerLink="/dashboard" buttonName="Dashboard"></a>
                <button appButton [buttonName]="'Logout'" (click)="onLogout()"></button>

                } @else {

                <a appButton routerLink="/login" buttonName="Login"></a>
                <!-- <a appButton routerLink="/register" buttonName="Register"></a> -->

                }

            </div>
        </div>
    </div>
</header>