<div class="search-engine">
    <form class="search-engine-form">
        <div class="search-engine-form-field">
            <label for="city">City</label>
            <input type="text" name="city">
        </div>

        <div class="search-engine-form-field">
            <label for="from-date">City</label>
            <input type="date" name="from-date">
        </div>

        <div class="search-engine-form-field">
            <label for="to-date">City</label>
            <input type="date" name="to-date">
        </div>

        <div class="search-engine-form-field">
            <button>SEARCH</button>
        </div>

    </form>
</div>